/*Styling for Days of The Week*/
.daily {
  display: flex;
  justify-content: space-between;
}

.daily_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 10px;
  padding: 10px;
}

.daily_box_top {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 10px;
}

.daily_box_icon {
  font-size: 4em;
  margin-bottom: 10px;
}

.daily_box_day {
  font-variant: all-small-caps;
  font-weight: 600;
  font-size: 1.6em;
}

.daily_box:first-of-type {
  margin-left: 0px;
}

.daily_box:last-of-type {
  margin-right: 0px;
}



.highTemp {
  color: #803022;
  margin-right: 5px;
}

.lowTemp {
  color: #1a5989;
  margin-left: 5px;
}


.gg-format-slash {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: rotate(25deg) scale(var(--ggs,1));
  width: 2px;
  height: 14px;
  background: currentColor;
  border-radius: 3px
}